@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /*--primary: #0663AF; */
    --primary: #1ecc5b;
    --text-on-primary: #FFFFFF;
    --red: #B91111;
    --red-hover: #c83d3d;
    --red-light: #E87979;
    --green: #3E8E47;
    --green-hover: #5daa66;
    --blue-hover: #2f87ce;
    --gray: #595151;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

a {
    color: inherit;
    text-decoration: none;
}

#header {
    background-color: var(--primary);
    font-family: 'Inter', sans-serif;
    color: var(--text-on-primary);
    position: relative;
}

#header h1 {
    font-weight: 300;
    padding: 0.65em;
    display: inline-block;
}

#header h3 {
    font-weight: 400;
    display: inline;
}

#userBlock {
    display: inline-block;
    position: absolute;
    right: 2em;
    top: 50%;
}

#userBlock button {
    color: inherit;
    background-color: var(--red);
    padding: 0.2em 1em;
    border-radius: 0.5em;
    margin-left: 1em;
    cursor: pointer;
    font-size: 100%;
}

#userBlock button:hover {
    background-color: var(--red-hover);
}

div#aboveTable {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    width: 80%;
    margin: 2em auto 0.5em auto;
    position: relative;
}

div#aboveTable h1 {
    font-weight: inherit;
    display: inline;
}

button#addButton {
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--text-on-primary);
    background-color: var(--green);
    padding: 0.2em 1.5em;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 100%;
}

button#addButton:hover {
    background-color: var(--green-hover);
}

div#container {
    width: 80%;
    height: 70vh;
    margin: auto;
    padding: 0 1em;
    overflow: hidden;
    overflow-y: scroll;
}

table.requestTable {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    font-family: 'Inter', sans-serif;
    table-layout: fixed;
}

table.requestTable thead {
    color: #D6D6D6;
    background-color: var(--gray);
    font-size: 120%;
    text-align: left;
}

table.requestTable th {
    border-right: 1px solid #FFFFFF;
    font-weight: normal;
    padding: 0.5em;
}

table.requestTable th:nth-last-child(2) { /* clears border between status and edit button column in header */
    border-right: none;
}

table.requestTable td {
    font-weight: normal;
    padding: 0.5em;
    vertical-align: middle;
}

table.requestTable tr:nth-child(even) {
    background-color: #F3F3F3;
}

table.requestTable th.title {
    width: 15%;
}

table.requestTable th.description {
    width: 45%;
}

table.requestTable th.cost {
    width: 20%;
}

table.requestTable th.status {
    width: 10%;
}

table.requestTable th.user {
    width: 10%;
}

table.requestTable th.title.withUser {
    width: 10%;
}

table.requestTable th.description.withUser {
    width: 38%;
}

table.requestTable td.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.requestTable td.description {
    color: #505050;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50%;
}

table.requestTable td.cost {
    text-align: end;
}

span.status {
    padding: 0.2em 0.5em;
    border-radius: 0.75em;
}

span.status_ACCEPTED {
    background-color: #81C889;
}

span.status_PENDING {
    background-color: #FFD95D;
}

span.status_DENIED {
    background-color: #E87979;
}

img.edit {
    width: 1.5em;
    height: 1.5em;
    filter: invert(30%) sepia(5%) saturate(629%) hue-rotate(314deg) brightness(96%) contrast(85%); /* calculated on https://isotropic.co/tool/hex-color-to-css-filter/ */
}

/* HOME PAGE */

div#titleContainer, div#homePageButtons {
    width: fit-content;
    margin: auto;
}

div#titleContainer {
    margin-top: 30vh;
    margin-bottom: 3em;
}

div#titleContainer p {
    width: fit-content;
    margin: auto;
}

p#welcome {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.6em;
}

p#title {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: var(--primary);
}

button.login, button.register {
    margin: 0 1em;
    color: var(--text-on-primary);
    background-color: var(--primary);
    padding: 0.2em 1.5em;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

button.login:hover, button.register:hover {
    background-color: var(--blue-hover);
}

/* REGISTER PAGE */

div#registerTitleContainer, div#registerFormContainer {
    width: fit-content;
    margin: auto;
}

div#registerTitleContainer {
    margin-top: 20vh;
    margin-bottom: 3em;
}

div#registerTitleContainer p {
    width: fit-content;
    margin: auto;
}

p#registerTitle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: var(--primary);
}

p#registerSubtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2em;
}

#registerFormTable td {
    padding: 0 0.5em;
}

#registerFormTable tr td:first-child {
    text-align: end;
}

#registerForm label {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1em;
}

#registerForm input {
    border: 2px solid black;
    border-radius: 0.3em;
    padding: 0.3em;
    margin-bottom: 0.8em;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
}

button.confirmRegister {
    color: var(--text-on-primary);
    background-color: var(--primary);
    padding: 0.2em 2.5em;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 1em;
}

#registerError{
    width: 0;
    color: var(--red);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
}

/* LOGIN PAGE*/

div#loginTitleContainer, div#loginFormContainer {
    width: fit-content;
    margin: auto;
}

div#loginTitleContainer {
    margin-top: 20vh;
    margin-bottom: 5em;
}

div#loginTitleContainer p {
    width: fit-content;
    margin: auto;
}

p#loginTitle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: var(--primary);
}

p#loginSubtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2em;
}

#loginFormTable td {
    padding: 0 0.5em;
}

#loginFormTable tr td:first-child {
    text-align: end;
}

#loginForm label {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1em;
}

#loginForm input {
    border: 2px solid black;
    border-radius: 0.3em;
    padding: 0.3em;
    margin-bottom: 0.8em;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
}

button.confirmLogin {
    color: var(--text-on-primary);
    background-color: var(--primary);
    padding: 0.2em 2.5em;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 1em;
}

#loginError{
    width: 0;
    color: var(--red);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
}

/* REQUEST FORM */

#requestFormContainer {
    width: 40%;
    margin: 5vh auto 0 auto;
}

#requestForm {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
}

#requestForm label {
    display: block;
    margin-bottom: 0.3em;
}

#requestForm input, #requestForm textarea {
    border: 2px solid var(--gray);
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1.5em;
    font-family: inherit;
    font-weight: inherit;
    font-size: 0.8em;
    border-radius: 0.5em;
}

#requestForm textarea {
    height: 10vh;
    resize: none;
}

#requestForm input[type="number"] {
    width: 75%;
    text-align: start;
}

#requestForm span {
    margin-left: 10%;
}

#requestFormButtons {
    text-align: end;
}

button.requestCancel, button.requestSubmit {
    color: var(--text-on-primary);
    padding: 0.2em 2.5em;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 1em;
    margin-left: 1em;
}

button.requestCancel {
    background-color: var(--red);
}

button.requestCancel:hover {
    background-color: var(--red-hover);
}

button.requestSubmit {
    background-color: var(--green);
}

button.requestSubmit:hover {
    background-color: var(--green-hover);
}

p.requestFormError {
    color: var(--red);
    text-align: end;
    font-family: 'Inter', sans-serif;
}