h1 {
    color: white;
    text-align: center;
    font-weight: lighter;
}

h1, h2, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(246, 251, 255);
    margin: 0;
}

#nav {
    background-color: #0663AF;
    padding: 10px;
    margin-bottom: 7%;
}

#text {
    width: 35%;
    margin: auto;
    background-color: #595151;
    color: rgb(227, 233, 240);
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}

#team, #seznam {
    width: 50%;
    margin: auto;
    text-align: center;
}

h2 {
    margin-top: 70px;
    margin-bottom: 35px;
    color:#0a2a43;
}

.imena {
    color:#374754;
    letter-spacing: -1px;
}

#seznam {
    margin-bottom: 50px;
}
